@import '../../../../styles/theme';
.name{
    color: var(--primary-color)!important;

}
.foto{
    // agregar un borde redondeado a la imagen
    border-radius: 5%;
    // agregar un borde de 1px de color gris
    border: 3px solid var(--detail-color);
}