<div class="row">
    <div class="col-xxl-3  col-xl-4 col-lg-4 col-md-6 col-sm-12 d-flex ">
        <img src="imgs/foto.jpg" alt="My Photo" class="img-fluid mx-auto foto" >
    </div>
    <div class="col-xxl-9 col-xl-8 col-lg-8 col-md-6 col-sm-12 fs-6">
        <h2 class="title">About Me</h2>
        <p>
            I am <b class="name">Ruben Farias de Alba</b> a Software Engineer with over {{ getExperience() }} years of experience in FullStack application development. 
            At {{ getAge() }} years old, I've had the opportunity to work on a wide range of projects, from building scalable backend systems to creating user-friendly front-end applications.
        </p>
        <p>
            I’m passionate about solving complex problems and optimizing systems to improve efficiency and performance. I thrive in fast-paced environments where I can tackle new challenges and continuously grow my skill set. I take pride in writing clean, maintainable code and always strive to stay up-to-date with the latest technologies.
            In addition to my technical expertise, I’m always eager to learn and adopt innovative solutions. 
        </p>
        <p>
            I believe that collaboration and creativity are key in developing impactful software.
            When I’m not coding, I enjoy learning new skills and knowledge in various fields, which helps me stay motivated and balanced.
        </p>
    </div>
</div>