// Paleta de colores

$color-base-fondo: #F2F1E1;      // Crema claro
$color-principal-claro: #A8B89F; // Verde seco claro
$color-principal: #6B7B56;       // Verde seco medio
$color-secundario: #4B5A38;      // Verde seco oscuro
$color-fondo-secundario: #FFFFFF; // Blanco
$color-detalle: #D1D1D1;         // Gris suave
$color-acciones: #4E3629;        // Color de acción (puede ser un tono marrón)