
<form class="contact-form"  [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label for="name" class="contact-label">Name</label>
                <input type="text" class="form-control contact-input" id="name" placeholder="Your Name" name="name" required  formControlName="name">
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label for="email" class="contact-label">Email address</label>
                <input type="email" class="form-control contact-input" id="email" placeholder="Your Email" name="email" required formControlName="email">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="message" class="contact-label">Message</label>
                <textarea class="form-control contact-textarea" id="message" rows="3" placeholder="Your Message" name="message" required formControlName="message" ></textarea>
            </div>
        </div>
    </div>
    <input type="hidden" name="redirect" value="/">
    <div class="row">
        <div class="col-sm-12 mt-3">
            <button type="submit" class="btn  contact-submit-btn" [disabled]="contactForm.invalid">Submit</button>
        </div>
    </div>
    

</form>
