
.badge {
    padding: 8px 12px;
    border-radius: 7px;
    font-size: 1rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
    margin: 10px 10px 10px 0; 
}


.linkedin {
    background-color: rgb(10, 102, 194); 
    color: white;
}

.linkedin:hover {
    background-color: #005C8E; 
}


.badge-icon {
    width: 30px;
    height: 30px;
    margin-right: 8px; 
}


@media (max-width: 768px) {
    .badge {
        font-size: 0.9rem; 
        padding: 8px 10px;  
        margin: 8px 5px;  
    }
    .badge-icon {
        width: 25px;  
        height: 25px;
    }
    .badge {
        display: flex;  
        justify-content: center;
        width: 100%;
        text-align: center; 
    }
}

/* GitHub */
.github {
    background-color: #000000; /* GitHub's brand color */
    color: white;
}

.github:hover {
    background-color: #333; /* Darker GitHub color on hover */
}

/* YouTube */
.youtube {
    background-color: #FF0000; /* YouTube's brand color */
    color: white;
}

.youtube:hover {
    background-color: #CC0000; /* Darker YouTube color on hover */
}
