<div class="container-fluid">
    <div class="row">
        <div class="col-xxl-4  col-xl-5 col-lg-6 col-md-6 col-sm-12 ">
            <div class="card  project-card">
                <img src="imgs/mygithub.png" class="card-img-top" alt="Project 1">
                <div class="card-body">
                    <h5 class="card-title">My github</h5>
                    <p class="card-text">
                        Lorem ipsum odor amet, consectetuer adipiscing elit. Aliquet in dictum taciti ipsum gravida ad felis semper ultrices tristique metus felis eros volutpat litora euismod himenaeos montes adipiscing metus suscipit vitae adipiscing scelerisque pellentesque aliquet fermentum suscipit at rhoncus taciti dui rhoncus bibendum curabitur penatibus odio netus aliquet elementum tincidunt vulputate.
                    </p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a href="#" class="btn ">Repository</a>
                    <a href="#" class="btn ">Demo</a>
                </div>
            </div>
        </div>
    </div>
</div>