
<body  >
    <!-- Navigation Menu -->
    <app-header></app-header>
    <select name="" id=""  (change)="setTheme($event)">
        @for (theme of themes; track theme) {
            <option value="{{theme}}">{{theme}}</option>
       
            }
    </select>
    <!-- About Me Section -->
    <section id="about" class="container mt-4">
        <h2 class="title" style="padding-left: 20px;">About Me</h2>
        <app-about-me></app-about-me>
    </section>

    <!-- Projects Section -->
    <section id="projects" class="container mt-4 ">
        <h2 class="title"style="padding-left: 20px;">Projects</h2>
        <!-- <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="project1.jpg" class="card-img-top" alt="Project 1">
                    <div class="card-body">
                        <h5 class="card-title">Project 1</h5>
                        <p class="card-text">Description of project 1.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="project2.jpg" class="card-img-top" alt="Project 2">
                    <div class="card-body">
                        <h5 class="card-title">Project 2</h5>
                        <p class="card-text">Description of project 2.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="project3.jpg" class="card-img-top" alt="Project 3">
                    <div class="card-body">
                        <h5 class="card-title">Project 3</h5>
                        <p class="card-text">Description of project 3.</p>
                    </div>
                </div>
            </div>
        </div> -->
        <app-projects></app-projects>
    </section>

    <!-- Skills Section -->
    <section id="skills" class="container mt-4">
        <h2 class="title" style="padding-left: 20px;">Skills</h2>
        <ul>
            <li>JavaScript</li>
            <li>Angular</li>
            <li>React</li>
            <li>Node.js</li>
            <li>Python</li>
            <li>SQL</li>
        </ul>
    </section>
    <!-- Social Section -->
    <section id="network" class="container mt-4">
        <h2 class="title"style="padding-left: 20px;">Network</h2>
        <app-network></app-network>
    </section>
    <!-- Contact Section -->
    <section id="contact" class="container mt-4">
        <h2 class="title" style="padding-left: 20px;">Contact</h2>
        <app-contact></app-contact>
    </section>


</body>
